<p>sign-up works!</p>

<form [formGroup]="submissionForm" (ngSubmit)="onSubmit()">

    <p *ngIf="email.errors ||
    firstName.errors ||
    lastName.errors ||
    password.errors
    ">All fields are required</p>

    <label for="email">Email:</label>
    <input type="email" id="email" formControlName="email"><br><br>

    <p *ngIf="password.errors">Password must be between 8 and 20 characters long</p>
    <label for="password">Password:</label>
    <input type="password" id="password" formControlName="password"><br><br>

    <label for="firstName">First Name:</label>
    <input type="text" id="firstName" formControlName="firstName"><br><br>

    <label for="lastName">Last Name:</label>
    <input type="text" id="lastName" formControlName="lastName"><br><br>

    <button *ngIf="!email.errors &&
    !firstName.errors &&
    !lastName.errors &&
    !password.errors
    " type="submit">Submit</button>

</form>